<ul>
    <li>
        <input checked="checked" type="radio" class="result-type" id="{{section}}-sites"
               value="Station">
        <label for="{{section}}-sites">Site data only</label>
    </li>
    <li>
        <input type="radio" class="result-type" id="{{section}}-projects"
               value="Project">
        <label for="{{section}}-projects">Project data</label>
    </li>
    <li>
        <input type="radio" class="result-type" id="{{section}}-proj-mon-weight"
               value="ProjectMonitoringLocationWeighting">
        <label for="{{section}}-proj-mon-weight">Project Monitoring Location Weighting data</label>
    </li>
    <li>
        <input type="radio" class="result-type" id="{{section}}-samples" value="Result">
        <label for="{{section}}-samples">Sample results (physical/chemical metadata)</label>
    </li>
    <li>
        <input type="radio" class="result-type" id="{{section}}-biosamples" value="Result">
        <label for="{{section}}-biosamples">Sample results (biological metadata)</label>
    </li>
    <li>
        <input type="radio" class="result-type" id="{{section}}-narrowsamples" value="Result">
        <label for="{{section}}-narrowsamples">Sample results (narrow)</label>
    </li>
    <li>
        <input type="radio" class="result-type" id="{{section}}-activity-input" value="Activity"/>
        <label for="{{section}}-activity-input">Sampling Activity</label>
    </li>
    <li>
        <input type="radio" class="result-type" id="{{section}}-activitymetric-input"
               value="ActivityMetric"/>
        <label for="{{section}}-activitymetric-input">Sampling Activity Metrics</label>
    </li>
    <li>
        <input type="radio" class="result-type" id="{{section}}-resultdetection"
               value="ResultDetectionQuantitationLimit"/>
        <label for="{{section}}-resultdetection">Result Detection Quantitation Limit Data</label>
    </li>
    <li>
        <input type="radio" class="result-type" id="{{section}}-organization" value="Organization" />
        <label for="{{section}}-organization">Organization data</label>
    </li>
</ul>